.grid {
    height: 480px;
}
 a {
    color: #666;
}
a:hover {
    color: #f10215;
}
.mod-price {
    font-size: 14px;
    color: #e33333;
}
.mod-price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.coupon_price span {
    font-size: 34px;
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* ============================第一列=========================================*/
.grid {
    margin-bottom: 30px;
    position: relative;
}
.grid-col1 {
    width: 190px;
    height: 100%;
    color: #666;
    /* 给反斜杠字体大小 */
    font-size: 14px;
    background-color: #fff;
    position: relative;
}
.grid-col1 .ad {
    width: 250px;
    height: 480px;
    position: absolute;
    top: 0;
    left: -250px;
}
.grid-col1 .ad:hover .ad-r {
    width: 790px;
}
.ad-r {
    position: absolute;
    top: 0;
    left: 250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background: url(../images/banner-ad2.jpg);
    transition: all 0.3s ease
}
.grid-col1 ul {
    height: 468px;
    margin: 6px 0;
}
.grid-col1 a {
    /* 给链接文字大小 */
    font-size: 14px;
    margin:0 3px;
}
.grid-col1 ul li {
    padding-left: 18px;
    height: 26px;
    line-height: 26px;
}
.grid-col1 ul li:hover {
    background-color: #ccc;
}
.cate_pop {
    top: 0px;
    display: none;
    left: 191px;
    background-color: #fff;
    position: absolute;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    transition: top .25s ease;
    z-index: 100;
}
.cate_pop>div h1{
    font-size: 100px
}
/* =========================================第二列 ===============================*/
.grid-col2 {
    width: 590px;
    height: 100%;
    margin-left: 10px;
}
/* grid 轮播图 */
.grid-banner1 {
    background: url(../images/banner1.jpg) no-repeat;
}
.grid-banner2 {
    background: url(../images/banner2.jpg) no-repeat;
}
.grid-banner3 {
    background: url(../images/banner3.jpg) no-repeat;
}
.grid-banner4 {
    background: url(../images/banner4.jpg) no-repeat;
}
.grid-banner5 {
    background: url(../images/banner5.jpg) no-repeat;
}
.grid-banner6 {
    background: url(../images/banner6.jpg) no-repeat;
}
.grid-banner7 {
    background: url(../images/banner7.jpg) no-repeat;
}
.grid-banner8 {
    background: url(../images/banner8.jpg) no-repeat;
}
.focus {
    position: relative;
    float: left;
    width: 590px;
    height: 470px;
    margin-top: 10px;
    overflow: hidden;
}
.focus .grid-control {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    z-index: 99;
    display: block;
    outline: none;
    background: none;
    background-color: rgba(0,0,0,.2);
    color: hsla(0,0%,100%,.4);
    line-height: 40px;
    text-align: center;
} 
.focus .grid-control i {
    font-size: 20px;
    color: hsla(0,0%,100%,.4);
}
.focus .grid-control-l{
    left: 0;
}
.focus .grid-control-r{
    right: 0;
}
.focus .slider_indicators {
    z-index: 1;
    margin-left: 0!important;
    left: 46px;
    bottom: 20px;
    position: absolute;
    text-align: left;
}

.slider_indicators li {
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    transition: all .2s ease;
    outline: none;
}
.slider_indicators li:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    transition: all .2s ease;
    left: 4px;
    top: 4px;
    border: 2px solid #b9beba;
    border-radius: 50%;
}
.slider_indicators .focus-active {
    opacity: 1;
    background: hsla(0,0%,100%,.2)
}
.slider_indicators .focus-active:after {
    background-color: #fff;
    border: 2px solid #fff;
}
.grid .grid_wrap a {
    width: 590px;
    height: 470px;
    display: block;
}
/* ========================================第三列 =================================*/
.grid-col3 {
    width: 190px;
    height: 100%;
    margin-left: 10px;
}
.grid-col3 > div {
    margin-top: 10px;
}
.grid-col3-img {
    display: block;
    width: 190px;
    height: 150px;
}
.grid-col3-img img {
    width: 100%;
    height: 100%;
}
/* =====================================第四列 ================================*/

.grid-col4 {
    width: 190px;
    height: 100%;
}
/* ===========user ==============*/
.grid-user {
    height: 150px;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
}
.user-inner {
    height: 78px;
    padding-top: 62px;
    position: relative;
}
.user-avatar {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: -10px;
}
.user-avatar a ,.user-avatar img {
    width: 55px;
    height: 55px;
    display: block;
}
.user-avatar a {
    border: 5px solid #e3e1df;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 6px 25px #c3c3c3;
}
.user-show {
    padding: 0 10px;
}
.user-show p {
    overflow: hidden;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888;
}
.user-show a {
    padding: 0 2px;
}
.user-profit {
    height: 25px;
    margin-top: 10px;
    font-size: 0;
}
.user-profit a {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.user-profit a:hover {
    background-color: #f10215;
    color: #fff;
}
.user-profit .user-profit-pl {
    background: #363634;
    color: #e5d790;
}
/* ===========news ==============*/
.grid-news {
    height: 130px;
    overflow: hidden;
    background-color: #fff;
}
.news-tab-head {
    padding-top: 8px;
    line-height: 13px;
    font-size: 0;
    position: relative;
}
.grid-news .mod-tab-head {
    padding: 0 15px;
    font-size: 12px;
    color: #333;
    border-right: 1px solid #dfe0e1;
}
.grid-news .tab-head-last {
    border-right: 0;
}
.news-tab-active {
    width: 27px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    margin-left: 13px;
    background-color: #db192b;
    transition: transform .3s ease;
}
.grid-news-more {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 12px;
}
.news-tab-content{
    position: relative;
    padding-top: 8px;
    margin: 0 15px;
    height: 88px;
}
.tab-content-item {
    height: 100%;
    overflow: hidden;
}
.tab-content-item li {
    max-width: 160px;   
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* ===========service ==============*/
.grid-service {
    height: 190px;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
}
.grid-service:after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    width: 160px;
    height: 1px;
    background-color: #ebeaea;
    z-index: 1;
}
.service-entry {
    overflow: hidden;
    padding: 18px 11px 11px;
    background-color: #fff;
}
.service-list {
    height: 165px;
}
.service-list .service_ico {
    display: block;
    width: 20px;
    height: 20px;
    margin :4px auto 0;
}
.service-item {
    position: relative;
    float: left;
    width: 42px;
    height: 55px;
    background-color: #fff;
    text-align: center;
}
.service-item:hover .iconfont{
    color: #f10215;
    font-weight: 700;
}
.service-item .iconfont {
    font-size: 20px;
}
.service-item .service_txt {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #bea68d;
}
.service-list .service-corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #e01121;
    color: #fff;
}
.service-list .service-corner:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border:solid;
    border-width: 2px 6px;
    border-color: #e01121 #e01121 #fff;
}
.service-corner {
    vertical-align: top;
}
/* ===============================fooler部分(除开footer)========================== */
/* =============sk================= */
.sk {
    height: 275px;
    margin-bottom: 30px;
}
.sk-inner {
    background-color: #fff;
    overflow: hidden;
}
.sk-hd {
    position: relative;
    float: left;
    width: 190px;
    height: 275px;
    background-color: #e83632;
    color: #fff;
}
.sk-hd-lk {
    width: 100%;
    height: 100%;
    color: #fff;
}
.sk-hd-lk:hover {
    color: #fff;
}
.sk-hd-lk .sk-tit {
    position: absolute;
    left: 0;
    top: 42px;
    width: 100%;
    font-size: 34px;
    text-align: center;
}
.sk-hd-lk .sk-subtit {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.sk-hd-lk .sk-icon {
    position: absolute;
    left: 86px;
    top: 126px;
    width: 20px;
    height: 33px;
    display: block;
    background: url(../images/sprite.seckill.png) -35px -25px no-repeat;
}
.sk-hd-lk .sk-desc {
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.sk-hd-lk .sk-cd {
    position: absolute;
    left: 30px;
    top: 212px;
    height: 40px;
}
.sk .cd-item {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.sk .cd-item::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e83632;
}
.sk .cd-item-txt {
    position: relative;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}
.sk-bd {
    float: left;
}
.sk-list {
    position: relative;
    float: left;
    width: 800px;
    /* border-right: 1px solid #f0f0f0; */
    height: 275px;
    overflow: hidden;
}
.sk-list-item {
    width: 800px;
    overflow: hidden;
}
.sk-inner-item {
    position: relative;
    width: 200px;
    height: 275px;
    float: left;
}
.sk-inner-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 275px;
    background: #f0f0f0;
}
.sk-inner-item a {
    position: relative;
    display: block;
    width: 190px;
    height: 275px;
    text-align: center;
    margin: auto;
}
.sk-item-img {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    top: 40px;
}
.sk-item-img img {
    width: 100%;
    height: 100%;
}
.sk-inner-item p {
    position: absolute;
    width: 160px;
    top: 190px;
    left: 0;
    padding: 0 15px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sk-item-price {
    position: absolute;
    width: 160px;
    height: 20px;
    left: 15px;
    top: 230px;
    padding: 1px;
    background-color: #e6382f;
    line-height: 20px;
}
.sk-item-price-new {
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.sk-item-price-origin{
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;
}
.sk-item-price i{
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.sk-chn {
    position: relative;
    float: left;
    width: 180px;
    height: 260px;
    padding: 8px 10px
}
.sk-chn-container {
    width: 100%;
    height: 100%;
}
.sk-chn-container .sk-chn_wrap a {
    width: 180px;
    height: 260px;
    display: block;
    float: left;
}
.sk-chn-chnbanner1 {
    background: url(../images/sk-chn-chnbanner1.jpg) no-repeat;
}
.sk-chn-chnbanner2 {
    background: url(../images/sk-chn-chnbanner2.jpg) no-repeat;
}
.sk-control,.box-control {
    background: none;
    top: 110px;
    position: absolute;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    text-align: center;
}
.sk-control i ,.box-control i{
    color: hsla(0,0%,100%,.4);
}
.sk-control-l,.box-control-l {
    left: 0;
}
.sk-control-r,.box-control-r {
    right: 0;
}
/* ===========网格============= */
.corechn1 , .corechn1 {
    height: 480px;
}
.grid-c1 {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.box {
    float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;
    background-color: #fff;
}
.box-last {
    margin-right: 0;
}
.box-hd {
    height: 60px;
    font-size: 0;
    line-height: 0;
    padding: 0 20px;
}
.box-hd-lk {
    display: inline-block;
    position: relative;
    height: 40px;
    margin-top: 8px;
}
.box-tit {
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
    color: #222;
    line-height: 44px;
}
.box-hd-arrow {
    width: 23px;
    height: 23px;
    margin-left: 4px;
    font-size: 24px;
    color: #f10215;
}
.box-subtit {
    display: inline-block;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin: 12px 0 0 10px;
    vertical-align: top;
}
/* ==================top================ */
.tab-head {
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #f7f7f7;
}
.tab-head-item {
    float: left;
    width: 78px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top-container{
    width: 390px;
    height: 321px;
    background-color: #fff;
}
.top-item-lk {
    position: relative;
    display: block;
    height: 107px;
}
.top-item-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
.top-item-img img{
    width: 100%;
    height: 100%;
}
.top-item-rank {
    float: left;
    width: 30px;
    height: 40px;
    margin: 36px 0 0 10px;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-family: 'impact', sans-serif;
    color: #e74240;
}
.top-item-name {
    display: block;
    margin-left: 125px;
    padding-top: 40px;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    color: #333;
}
/* ==================daily================ */
.daily-container {
    width: 350px;
}
.daily-wrap a {
    display: block;
    height: 355px;
    float: left;
}
.daily-img {
    display: block;
    height: 128px;
    margin: 0 auto 20px;
}
.daily-img img {
    width: 100%;
    height: 100%;
}
.daily-cover {
    width: 100%;
    height: 210px;
}
.daily-list {
    text-align: center;
}
.daily-item {
    margin: 0 4px;
    display: inline-block;
    width: 105px;
    height: 105px;
    background-color: #fff;
    overflow: hidden;
    line-height: 105px;
}
.daily-item img {
    width: 100%;
    height: 100%;
}
.daily-tit {
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    text-align: center;
    color: #222;
}
.daily-subtit {
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #666;
}
.daily .box-control {
    top: 50%;
}
/* ==================coupon================ */
.coupon-container {
    width: 350px;
}
.coupon_wrap {
    height: 355px;
}
.coupon-item {
    position: relative;
    border-radius: 6px;
    background-color: #f6f6f6;
}
.coupon-item:nth-child(2n) {
    background-color: #eeefed;
}
.coupon-item:before ,.coupon-item:after {
    content: '';
    display: block;
    position: absolute;
    right: 54px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
}
.coupon-item:before {
    top: -8px;
}
.coupon-item:after {
    bottom: -8px;
}
.coupon-lk {
    display: block;
    height: 118px;
    overflow: hidden;
}
.coupon-img {
    float: left;
    margin: 14px 0 0 10px;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}
.coupon-img img {
    width: 100%;
    height: 100%;
}
.coupon-info {
    padding-top: 15px;
    margin: 0 72px 0 110px;
}
.coupon-price {
    font-family: 'impact', sans-serif;
    display: block;
    height: 38px;
    line-height: 38px;
}
.coupon-price i {
    font-size: 16px;
}
.coupon-price span {
    font-size: 34px;
}
.coupon-limit {
    color: #b1b3b0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon-desc {
    color: #767b77;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon-more {
    float: right;
    height: 100%;
    line-height: 118px;
    margin-right: 34px;
    font-size: 12px;
    color: #333;
}
.coupon-more-inner {
    width: 1px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
}
/* ==================mime================ */
.mime-container {
    width: 350px;
}
.mime-wrap a {
    display: block;
    height: 355px;
    float: left;
}
.mime-img {
    display: block;
    height: 250px;
    margin: 0 auto 20px;
}
.mime-img img {
    width: 100%;
    height: 100%;
}
.mime-item-name {
    font-size: 16px;
    color: #333;
    height: 50px;
    line-height: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mime-item-desc {
    font-size: 14px;
    color: #999;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.mime .box-control {
    top: 50%;
    clear: both;
}
.mime .box-control-l {
    left: 0;
}
.mime .box-control-r {
    right: 0;
}

/* =============chosen================== */
.chosen-wrapper {
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
}
.chosen-item {
    float: left;
    width: 180px;
    height: 184px;
    text-align: center;
}
.chosen-item-img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    opacity: 0.8;
    background: transparent;
}
.chosen-item-img img {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.chosen-item-tit {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    padding: 0 10px;
    line-height: 16px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chosen-item-subtit {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0 8px;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* =============huiguang=============== */
.huiguang a {
    display: block;
    width: 100%;
    height: 100%;
}
.huiguang a>img {
    width: 100%;
    height: 100%;
}
.huiguang-cover {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 0 auto;
}
.huiguang-list {
    width: 360px;
    overflow: hidden;
    margin: 10px auto 0;
}
.huiguang-item {
    float: left;
    width: 110px;
    height: 110px;
    margin: 0 5px;
}